/bin
/eclipse
/libs/other
/libs/temp
/src/main/resources/assets/computronics
/src/main/resources/assets/galacticraftasteroids
/src/main/resources/assets/galacticraftcore
/src/main/resources/assets/galacticraftmars
/src/main/resources/assets/galacticraftmoon
/src/main/resources/assets/projecte
/build
.gradle
.settings
.project
.classpath
/run